body {
    background-color: #deb887;
    margin: 0;
    padding: 0;
}
/*Header*/
.header {
    border: #214778 3px solid;
    background-color: #214999;
    padding: 1% 4%;
}
.nav {
    display: grid;
    grid-template-columns: auto 50%;
}
.header-title {
    width: 50%;
    display: flex;
}
.header-title h1{
    font-size: 45px;
    color: white;    
    padding: 1% 1%;
    margin: 0 0;
    border: #214778 solid 4px;
}
.header-pages {
    display: grid;
    font-size: 20px;
    height: auto;
    width: auto;
}
.header-pages-style {
    text-decoration: none;
    color: white;
}
/*Main*/
.main {
    align-items: center;
}
/*Footer*/
.footer {
    border: #214778 2px solid;
    background-color: #214999;
    color: white;
    text-align: center;
}
.footer-pages table{
    font-size: 16px;
    height: auto;
    width: auto;
}