body {
    background-color: #deb887;
    margin: 0;
    padding: 0;
}
/*Header*/
.header {
    border: #214778 3px solid;
    background-color: #214999;
    padding: 1% 4%;
}
.nav {
    display: grid;
    grid-template-columns: auto 50%;
}
.header-title {
    width: 50%;
    display: flex;
}
.header-title h1{
    font-size: 45px;
    color: white;    
    padding: 1% 1%;
    margin: 0 0;
    border: #214778 solid 4px;
}
.header-pages {
    display: grid;
    font-size: 20px;
    height: auto;
    width: auto;
}
.header-pages-style {
    text-decoration: none;
    color: white;
}
/*Main*/
.main {
    text-align: center;
    padding: 0 10%;
}   
/*Discussion*/
.discussion {
    color: black;
    font-size: 24px;
    text-align: left;
    padding: 0 10%;
}
.discussion-marks {
    display: flex;
    font-size: 18px;
}
.discussion h1 { 
    border-bottom: white solid 2px;
    width: 30%;
    font-size: 35px;
}
.discussion h2 {
    font-size: 30px;
}
.discussion th{
    padding: 20px 10px;
    border: solid #214889 1px;
    background-color: #214778;
    color: white;
}
.discussion table{
    background-color: #214999;
}
.discussion-thread {
    background-color: #bbbbbb;
}
.discussion-study-group {
    display: flex;
}
.discussion-groups {
    background-color: #214999;
    width: 10%;
    color:white;
    margin-right: 2%;
    margin-bottom: 2%;
    padding-left: 5px;
}
/*Footer*/
.footer {
    border: #214778 2px solid;
    background-color: #214999;
}
.footer-pages {
    display: flex;
    justify-content: center;
}
.footer-pages table{
    font-size: 16px;
    height: auto;
    width: auto;
}
.footer-pages th{
    padding: 0 20px;
}