body {
    background-color: #deb887;
    margin: 0;
    padding: 0;
}

/*Header*/
.header {
    border: #214778 3px solid;
    background-color: #214999;
    padding: 1% 4%;
}

.nav {
    display: grid;
    grid-template-columns: auto 50%;
}

.header-title {
    width: 50%;
    display: flex;
}

.header-title h1 {
    font-size: 45px;
    color: white;
    padding: 1% 1%;
    margin: 0 0;
    border: #214778 solid 4px;
}

.header-pages {
    display: grid;
    font-size: 20px;
    height: auto;
    width: auto;
}

.header-pages-style {
    text-decoration: none;
    color: white;
}

/*Main
.main {
    align-items: center;
    padding: 0 10%;
}
*/

/*Timetable*/
.timetable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}

.timetable h1 {
    font-size: 45px;
}

.timetable th {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #214999;
    font-size: 25px;
    color: white;
}

.timetable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: black;
}

.time {
    font-style: italic;
}

/* Share Resources */
.file-download {
    background-color: #ddd;
    margin: 20px 0;
    padding: 10px 0 0;
}

.button {
    margin: 20px 10px;
}

.file-upload {
    background-color: #ddd;
    margin: 20px 0;
}

/*Contact us*/
.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: stretch;
}

.container h1 {
    color: #333;
    text-align: center;
}

.contact-form {
    flex: 1;
    min-width: 300px;
    background: #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.contact-form,
.map {
    flex: 1;
}

.form-group {
    margin-bottom: 15px;
    margin-right: 22px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group textarea {
    height: 100px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.map {
    flex: 1;
    min-width: 300px;
    height: 400px;
    background-color: #ddd;
    margin-top: 20px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .map {
        height: 300px;
    }
}

/*Footer*/
.footer {
    border: #214778 2px solid;
    background-color: #214999;
    position: relative;
    bottom: 0px;
    width: 100%;
}

.footer-pages table {
    font-size: 16px;
    height: auto;
    width: auto;
}